.entrance-wrapper {
    display: flex;
    align-items: center;

    width: 100%;
}

.entrance-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
    width: 50%;
}

.entrance-title {
    font-size: 68px;
    font-weight: 700;
    color: #211F54;
    line-height: 73.98px;

}

.entrance-subtitle {
    font-size: 21px;
    font-weight: 400;
    line-height: 30.01px;
    color: #6E7191;

}

.entrance-box {
    display: flex;
    gap: 10px;
}


.entrance-right {
    width: 50%
}

.entrance-right img {}