.card {
    padding: 15px;
    border: 1px solid black;
}

.card-wrapper {
    display: flex;

}



.card-wrapper h4 {
    max-width: 300px;

}

.card-img {
    width: 150px;

}

.card-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    min-height: 300px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    text-align: center;
}