.card {
    padding: 15px;
    border: 1px solid black;
}

.card-wrapper {
    display: flex;

    border: 1px solid purple;
}

.card-box {
   
}

.card-wrapper h4 {
    max-width: 300px;

}

.card-img {
    width: 150px;

}