.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu{
    display: none;
}
.header-burger {
    width: 50px;
}

nav ul {
    display: flex;
    gap: 25px;

}

nav ul li a {

    color: #211F54;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}


.header-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.header-logo img {
    width: 50px;
}

/* Responsive */

@media (max-width: 1280px) {

}

@media (max-width: 1024px) {

    .contact-wrapper {
        flex-direction: column;

    }
    .entrance-right img {
        width: 100%
    }

    .entrance h2 {
        font-size: 46px;
    }

    .contact-left h2 {
        font-size: 46px;
    }


}

@media (max-width: 768px) {


     .header-menu{
        display: block;
    }

    nav {
        display: none;
      
    }

    .header-list {
        display: block;
    }

    
    .contact-wrapper {
        flex-direction: column;

    }

    .entrance h2 {
        font-size: 36px;
        line-height: 39.01px;
    }

    .entrance h3 {
        font-size: 18px;
    }


    .contact-left h2 {
        font-size: 36px;
    }

    .contact-left h4 {
        font-size: 18px;
    }

    .entrance-box {
        flex-direction: column;
        align-items: start;
    }
    .max-input{
        min-width: 0;
    }
    


}

@media (max-width: 640px) {
    .header-logo img {
        width: 40px;

    }

    .services-cards {
        flex-direction: column;

    }

    .about-cards {
        flex-direction: column;
    }


    .footer-up {
        display: flex;
        flex-direction: column;
        gap: 25px;


    }

    .footer-up {
        flex-direction: column;

    }

    .footer-down {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .footer-license {
        flex-direction: column;
    }

    .entrance h2 {
        padding-top: 10px;
        font-size: 30px;
        line-height: 35px;
    }

    .entrance h3 {
        font-size: 16px;
    }

    #myForm div {
        width: 100%;
    }

    .contact-left h2 {
        font-size: 30px;
    }

    .contact-left h4 {
        font-size: 16px;
    }

    .entrance-box {
        flex-direction: column;
        align-items: start;
    }

    .contact-left h5 {
        font-size: 26px;
    }

    .contact-left h6 {
        font-size: 16px;
    }

    .contact-left button {


        padding: 20px;
        font-size: 16px;
    }

    .contact-right button {
        font-size: 12px;
        padding: 20px;
    }


    .contact-right div input {
        font-size: 12px;
        padding: 0;
        border-radius: 15px;

    }

}


@media (max-width: 449px) {
   
    .entrance-wrapper {


        flex-direction: column;

    }

    .header-wrapper{
        gap: 15px;
    }
.button {
    font-size: 12px;
    padding: 10px 20px;
}


    .contact-wrapper {
        flex-direction: column;

    }




    .header-logo img {
        width: 40px;

    }



    .entrance h2 {
        padding-top: 10px;
        font-size: 30px;
        line-height: 35px;
    }

    .entrance h3 {
        font-size: 16px;
    }



    .contact-left h2 {
        font-size: 30px;
    }

    .contact-left h4 {
        font-size: 16px;
    }

    .entrance-box {
        flex-direction: column;

    }

    .contact-left h5 {
        font-size: 26px;
    }

    .contact-left h6 {
        font-size: 16px;
    }

    .contact-left button {

        padding: 20px;
        font-size: 16px;
    }

    .contact-right button {
        font-size: 12px;
        padding: 20px;
    }


    .contact-right div input {
        font-size: 12px;
        padding: 0;
        border-radius: 15px;

    }


}