.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 25px;

}

nav ul li a {

    color: #211F54;
}

.header-left {
    display: flex;
    gap: 20px;
    align-items: center;
}


.header-right {
    display: flex;
    gap: 20px;
}

.header-logo img {
    width: 50px;
}